.container {
    width: 1280px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.main-header {
    width: 100%;
    min-height: 323px;
    padding: 50px;
    box-sizing: border-box;
    background-color: #445161;
}

.main-header-title {
    width: 100%;
    font-family: Arial;
    font-size: 60px;
    line-height: 45px;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
}

.main-header-wrapper {
    float: left;
}

.main-header-list {
    list-style-type: none;
    font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
    margin: 50px 0 0 0;
}

.main-header:after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

.main-header-list-item {
    position: relative;
}

.main-header-list-item:before {
    content: "";
    position: absolute;
    background-image: url(../img/check.png);
    display: block;
    width: 25px;
    height: 19px;
    top: 7px;
    left: -36px;
}

.main-header-img {
    display: block;
    float: right;
    width: 469px;
    height: 214px;
    background-color: white;
}

.dignity-and-pluses {
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
}

.about-your-product-wrapper {
    float: left;
    width: 660px;
}

.about-your-product-title {
    width: 100%;
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.about-your-product-description {
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    margin: 20px 0 0 0;
}

.about-your-product-video {
    display: block;
    float: right;
    width: 430px;
    height: 245px;
    background-color: #445161;
}

.pluses-product {
    width: 100%;
    padding: 50px;
    background-color: #f5f5f5;
    box-sizing: border-box;
    padding-bottom: 15px;
}

.page-mini-title {
    width: 100%;
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    display: block;
    text-align: center;
    margin: 0 0 30px 0;
}

.pluses-product-list {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    float: left;
    width: 49%;
    min-height: 260px;
}

.pluses-product-details {
    margin: 0 0 35px 0;
    padding: 0 0 0 40px;
    min-height: 63px;
}


.pluses-product-summary {
    position: relative;
}

.pluses-product-summary::-webkit-details-marker {
    display: none;
}

.pluses-product-summary:focus {
    outline: none;
}

.pluses-product-summary::before {
    content: "+";
    display: block;
    width: 32px;
    height: 32px;
    background-color: #445161;
    color: white;
    font-size: 28px;
    text-align: center;
    line-height: 32px;
    position: absolute;
    left: -40px;
    top: 6px;
}

.screenshots {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.screenshots-list {
    width: 49%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.screenshots-figure:last-child {
    padding: 0;
    margin: 0;
}

.screenshots-figure {
    margin: 0 0 30px 0;
    padding: 0;
    display: flex;
}

.screenshots-img {
    min-height: 150px;
    margin: 0 15px 0 0;
}

.screenshots-list-item-wrapper {
    float: left;
    width: 63%;
}

.screenshots-list-item-title {
    font-family: Arial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
}

.screenshots-list-item-description {
    font-family: Arial;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    margin: 15px 0 0 0;
}

.reviews {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f5f5f5;
}

.reviews-item {
    display: flex;
    padding: 0;
    width: 574px;
    box-sizing: border-box;
    margin: 0 0 24px 0;
}

.reviews-item-img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #445161;
    margin: 0 30px 0 0;
}

.reviews-item-txt {
    box-sizing: border-box;
    margin: 0;
    padding: 16px 20px 16px 20px;
    width: 480px;
    min-height: 121px;
    background-color: #ebebeb;
    border-radius: 10px;
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
    position: relative;
}

.reviews-item-txt-author {
    display: block;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
    margin: 15px 0 0 0;
    font-style: normal;
}

.reviews-wrapper>article:last-child {
    margin: 0;
}

.reviews-item-txt:before {
    position: absolute;
    content: " ";
    border: 20px solid transparent;
    border-right: 20px solid #ebebeb;
    left: -30px;
}

.buy {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.buy-item {
    width: 300px;
    background-color: #445162;
    padding: 0 0 20px 0;
    margin: 0 22.5px 0 22.5px;
    box-sizing: border-box;
    border: 3px solid #445162;
    border-radius: 5px;
}

.buy-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    padding: 15px;
    box-sizing: border-box;
}

.buy-item-price {
    display: block;
    width: 100%;
    text-align: center;
    font-family: Arial;
    font-size: 40px;
    font-weight: 400;
    color: #445162;
    background-color: #fff;
    padding: 15px;
    box-sizing: border-box;
}

.buy-item-list {
    margin: 20px;
    padding: 0;
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    list-style-position: inside;
}

.buy-button {
    min-height: 40px;
    width: 260px;
    background-color: #fff;
    display: flex;
    text-decoration: none;
    margin: auto;
    border-radius: 5px;
    font-family: Arial;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    text-transform: uppercase;
}

.buy-button:hover {
    background-color: #ebebeb;
    color: black;
}

.buy-button:active {
    background-color: #445161;
    color: #fff;
}

.buy-button-txt {
    margin: auto;
}

.contacts {
    background-color: #445162;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-title {
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
    width: 100%;
    display: block;
    text-align: center;
    margin: 0 0 30px 0;
}

.contacts-form {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 45px 0 0;
}

.contacts-form-input {
    width: 100%;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #445162;
    margin: 0 0 20px 0;
    padding: 10px;
    box-sizing: border-box;
    min-height: 40px;
    border-radius: 10px;
    background-color: #fff;
}

.contacts-form-textarea {
    min-height: 170px;
}

.contacts-form-button {
    margin: auto;
    height: 40px;
    width: 140px;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #445162;
    border-radius: 10px;
    background-color: #fff;
    border: none;
    padding: 0;
}

.contacts-form-button:hover {
    background-color: #ebebeb;
    color: black;
}

.contacts-form-button:active {
    background-color: #445161;
    color: #fff;
}

.contacts-form-button:focus {
    outline: none;
}

.contacts-item {
    display: block;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    margin: 0 0 25px 0;
    padding: 0 0 0 30px;
    box-sizing: border-box;
    position: relative;
}

.skype:before {
    position: absolute;
    content: url(../img/skype_icon.png);
    left: 0px;
}

.icq:before {
    position: absolute;
    content: url(../img/icq_icon.png);
    left: 0px;
}

.email:before {
    position: absolute;
    content: url(../img/email_icon.png);
    left: 0px;
}

.phone:before {
    position: absolute;
    content: url(../img/phone_icon.png);
    left: 0px;
}

.social-buttons {
    width: 100%;
    display: flex;
}

.social-button {
    display: block;
    height: 43px;
    width: 43px;
    margin: 0 5px 0 0;
}

.twitter {
    background-image: url(../img/twitter_icon.png);
    background-repeat: no-repeat;
}

.facebook {
    background-image: url(../img/facebook_icon.png);
    background-repeat: no-repeat;
}

.linkedin {
    background-image: url(../img/linkedin_icon.png);
    background-repeat: no-repeat;
}

.google {
    background-image: url(../img/google_icon.png);
    background-repeat: no-repeat;
}

.youtube {
    background-image: url(../img/youtube_icon.png);
    background-repeat: no-repeat;
}

.copyright {
    width: 100%;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
}

.copyright-txt {
    margin: auto;
    font-family: Arial;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #445162;
}